@model IEnumerable<Library.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-area="" asp-controller="Books" asp-action="Index">Books</a>
    <a asp-area="" asp-controller="Copies" asp-action="Index">Copies</a>
    <a asp-area="" asp-controller="Clients" asp-action="Index">Clients</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
