@model IEnumerable<Library.Models.Copies>

@{
    ViewData["Title"] = "Copies";
}

<h1>Copies</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-area="" asp-controller="Books" asp-action="Index">Books</a>
    <a asp-area="" asp-controller="Category" asp-action="Index">Categories</a>
    <a asp-area="" asp-controller="Clients" asp-action="Index">Clients</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CopyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                BookTitle
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                ClientName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CopyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Book.Title)
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.FirstName)
                </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CopyId}) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CopyId })
            </td>
        </tr>
}
    </tbody>
</table>
